<section class="row service-bg hc-bg">
	
	<div class="col-xs-12 col-md-6 col-md-offset-1">
		<i class="fa fa-home"></i>
		<h1>Home Cleaning</h1>
		<p>We as Homey professionals are friendly, experienced and caring. We will treat you and your house with nothing but respect. By the time we are done, your house will be shining and smiling in no time.</p>
		<p class="highlight">What's included with a Homey house cleaning:</p>

		<div class="row ta-l v-check mb-md">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">Verified & trusted professionals</span>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">100% Happiness guaranteed</span>
			</div>
		</div>

		<div class="row ta-l v-check mb-lg">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">Same day service delivery</span>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">Affordable pricing</span>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-4">
		<div class="q-box">
			<div class="q-head">
				<h2>Get a Quote</h2>
			</div>

			<div class="q-bod">
				<p>Tell us more about your place.</p>
				<div class="col-xs-10 col-xs-offset-1">
					<button class="alternate" style="margin: 0;" ng-click="hc.flatRate(0)">1000/= Flat Rate</button>
					<button class="primary" style="margin: 0;" ng-click="hc.flatRate(1)">1500/= Flat Rate</button>
				</div>
				<form class="form-group signup row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="hc.removeRoom('bedrooms')">-</button>
						  <button class="btn btn-default desc">{{hc.bedrooms}} Bedrooms</button>
						  <button class="btn btn-default counter" ng-click="hc.addRoom('bedrooms')">+</button>
						</div>
					</div>
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="hc.removeRoom('bathrooms')">-</button>
						  <button class="btn btn-default desc">{{hc.bathrooms}} Bathrooms</button>
						  <button class="btn btn-default counter" ng-click="hc.addRoom('bathrooms')">+</button>
					  </div>
					</div>
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="hc.removeRoom('kitchens')">-</button>
						  <button class="btn btn-default desc">{{hc.kitchens}} Kitchens</button>
						  <button class="btn btn-default counter" ng-click="hc.addRoom('kitchens')">+</button>
					  </div>
					</div>
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="hc.removeRoom('livingrooms')">-</button>
						  <button class="btn btn-default desc">{{hc.livingrooms}} Livingrooms</button>
						  <button class="btn btn-default counter" ng-click="hc.addRoom('livingrooms')">+</button>
					  </div>
					</div>
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="hc.removeRoom('laundry')">-</button>
						  <button class="btn btn-default desc">{{hc.laundry}} Laundry Loads</button>
						  <button class="btn btn-default counter" ng-click="hc.addRoom('laundry')">+</button>
					  </div>
					</div>
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="hc.removeRoom('ironed')">-</button>
						  <button class="btn btn-default desc">{{hc.ironed}} Ironed Loads</button>
						  <button class="btn btn-default counter" ng-click="hc.addRoom('ironed')">+</button>
					  </div>
					</div>
					<div class="btn-group col-xs-10 col-xs-offset-1 mt-lg">
						<label>Desired Date Time for Service:</label>
						<div class="dropdown pad-md">
						  <a class="dropdown-toggle" role="button" data-toggle="dropdown" id="dropdown2" data-target="#" href="#">
						    <div class="input-group">
						    	<input type="text" class="form-control" data-ng-model="hc.serviceDate">
						    	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						    </div>
						  </a>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    <datetimepicker data-ng-model="hc.serviceDate" data-datetimepicker-config="{ 
						    		dropdownSelector: '#dropdown2',
						    		minuteStep: 15 }"/>
						  </ul>
					  </div>
					</div>

					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
					    <button type="button" style="margin: 10px 0; width: 75%;" class="btn btn-default">{{hc.neighborhood}}</button>
					    <button type="button" style="margin: 0; width: 20%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					      <span class="caret"></span>
					      <span class="sr-only">Toggle Dropdown</span>
					    </button>
					    <ul class="dropdown-menu" role="menu">
					      <li ng-repeat="neighborhood in hc.hoods" ng-click="hc.applyTransportFee(neighborhood.name)">{{neighborhood.name}}</li>
					    </ul>
					  </div>
					</div>
				</form>
				<div class="row pb-md">
					<div class="col-xs-10 col-xs-offset-1 ta-c">
						<h2>Price: {{hc.price}} ksh</h2>
						<h4 style="color: #6E6E6E;">Required Time: {{hc.time}} hours</h4>
						<button class="primary-btn" style="padding: 10px 55px; font-size: 1.4em;" ui-sref="userLogin">Login to Book!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

