<section class="row service-bg hc-bg">
	
	<div class="col-xs-12 col-md-6 col-md-offset-1">
		<i class="fa fa-building-o"></i>
		<h1>Office Cleaning</h1>
		<p>We as Homey professionals are friendly, experienced and caring. We will treat you and your office with nothing but respect. By the time we are done, your office will be shining and smiling in no time.</p>
		<p class="highlight">What's included with a Homey office cleaning:</p>

		<div class="row ta-l v-check mb-md">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">Verified & trusted professionals</span>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">100% Happiness guaranteed</span>
			</div>
		</div>

		<div class="row ta-l v-check mb-lg">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">Same day service delivery</span>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
				<i class="fa fa-check"></i> <span class="value">Affordable pricing</span>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-4">
		<div class="q-box">
			<div class="q-head">
				<h2>Get a Quote</h2>
			</div>

			<div class="q-bod">
				<p>Tell us more about your office.</p>
				
				<form class="form-group signup row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="oc.changeFt(0)">-</button>
						  <button class="btn btn-default desc">{{oc.sqft}} sqft</button>
						  <button class="btn btn-default counter" ng-click="oc.changeFt(1)">+</button>
						</div>
					</div>
				
					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
						  <button class="btn btn-default counter" ng-click="oc.toggleKitchen(0)" ng-class="{'chosen': !oc.kitchen}">No</button>
						  <button class="btn btn-default desc">Kitchen?</button>
						  <button class="btn btn-default counter" ng-click="oc.toggleKitchen(1)" ng-class="{'chosen': oc.kitchen}">Yes</button>
					  </div>
					</div>

					<!-- <div class="btn-group col-xs-10 col-xs-offset-1 mt-lg">
						<label>Desired Date Time for Service:</label>
						<div class="dropdown pad-md">
						  <a class="dropdown-toggle" role="button" data-toggle="dropdown" id="dropdown2" data-target="#" href="#">
						    <div class="input-group">
						    	<input type="text" class="form-control" data-ng-model="oc.serviceDate">
						    	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						    </div>
						  </a>
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						    <datetimepicker data-ng-model="oc.serviceDate" data-datetimepicker-config="{ 
						    		dropdownSelector: '#dropdown2',
						    		minuteStep: 15 }"/>
						  </ul>
					  </div>
					</div> -->

					<div class="col-xs-10 col-xs-offset-1">
						<div class="btn-group">
					    <button type="button" style="margin: 10px 0; width: 75%;" class="btn btn-default">{{oc.neighborhood}}</button>
					    <button type="button" style="margin: 0; width: 20%;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					      <span class="caret"></span>
					      <span class="sr-only">Toggle Dropdown</span>
					    </button>
					    <ul class="dropdown-menu" role="menu">
					      <li ng-repeat="neighborhood in oc.hoods" ng-click="oc.applyTransportFee(neighborhood.name)">{{neighborhood.name}}</li>
					    </ul>
					  </div>
					</div>
				</form>
				<div class="row pb-md">
					<div class="col-xs-10 col-xs-offset-1 ta-c">
						<h2>Price: {{oc.price}} ksh</h2>
						<h4 style="color: #6E6E6E;">Required Time: {{oc.time}} hours</h4>
						<button class="primary-btn" style="padding: 10px 55px; font-size: 1.4em;">Call 070-194-6405</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

