<h1>new address</h1>
<form ng-submit="newAddress.create(newAddress.formData)">
	<label>Building Name/Estate/House Number:</label>
	<input type="text" ng-model="newAddress.formData.building_name">

	<label>Street:</label>
	<input type="text" ng-model="newAddress.formData.street">

	<label>PO BOX:</label>
	<input type="text" ng-model="newAddress.formData.po_box">

	<label>Neighborhood:</label>
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="0"> Kilimani
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="1"> Lavington
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="2"> Westlands
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="3"> CBD
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="4"> Upperhill
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="5"> Karen
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="6"> Runda
	<input type="radio" ng-model="newAddress.formData.neighborhood" value="7"> Eastlands

	<button class="btn btn-primary" type="submit">Add</button>
</form>