<h1>Upcoming Appointments</h1>

<a ui-sref="home">
	<button class="btn btn-primary">Home</button>
</a>

<div ng-repeat="appointment in appt.upcoming" style="border: 1px solid black; margin-top: 3px;">
	<p><strong>appointment id:</strong> {{appointment.id}}</p>
	<p><strong>made by:</strong> {{appt.user.first_name}}</p>
	<p><strong>scheduled for:</strong> {{appointment.service_date | amCalendar }}</p>
	<p><strong>paid status:</strong> {{appointment.paid}}</p>
	<p><strong>completion status:</strong> {{appointment.completed}}</p>
	<p><strong>canceled status:</strong> {{appointment.canceled}}</p>

	<!-- <button class="btn btn-warning" ng-click="appt.edit(apppointment.id)">Request Date Change</button> -->
	<button class="btn btn-success" ng-click="appt.pay(appointment.id)">Make a Payment</button>
	<button class="btn btn-info" ng-click="appt.complete(appointment.id)">Mark as Completed</button>
	<button class="btn btn-danger" ng-click="appt.cancel(appointment.id)">Cancel Appointment</button>

	<a ui-sref="payments">
		<button class="btn btn-primary">Pay now</button>
	</a>

</div>

<h1>Past Appointments</h1>

<div ng-repeat="appointment in appt.past" style="border: 1px solid black; margin-top: 3px;">
	<p><strong>appointment id:</strong> {{appointment.id}}</p>
	<p><strong>made by:</strong> {{appt.user.first_name}}</p>
	<p><strong>scheduled for:</strong> {{appointment.service_date | amCalendar }}</p>
	<p><strong>paid status:</strong> {{appointment.paid}}</p>
	<p><strong>completion status:</strong> {{appointment.completed}}</p>
	<p><strong>canceled status:</strong> {{appointment.canceled}}</p>

</div>
