<div class="row">
	<label>How many acres is your garden?</label>
	<input type="number" ng-model="gardening.formData.acres">
	<p>Number of Workers Needed: {{ gardening.Math.ceil(gardening.formData.acres / 1.0) }}</p>
</div>

<div class="row">
	What type of gardening?:
	<div ng-repeat="service in gardening.services">
		<p>{{ service.name }}
			<button class="btn btn-primary" ng-click="gardening.addService($index)" ng-disabled="service.checked">check</button>
		</p>
	</div>
	<p>{{gardening.formData.type}}</p>
</div>


<div class="row">
	<label>notes:</label>
	<input type="textarea" rows="5" ng-model="gardening.formData.notes">
</div>

<div class="row">
	<label>Desired Date Time for Service:</label>
	<!-- <input type="datetime" ng-model="gardening.formData.serviceDate"> -->
</div>

<button class="btn btn-primary" ng-click="gardening.submitData()">Book!</button>