<div class="row">
	<label>Number of Sqft:</label>
	<input type="number" ng-model="oc.formData.sqft" step="100">
</div>

<div class="row">
	<label>Does the office have a kitchen?</label>
	<input type="radio" ng-model="oc.formData.kitchen" value="true"> Yes
	<input type="radio" ng-model="oc.formData.kitchen" value="false"> No
</div>

<div class="row">
	<label>notes:</label>
	<input type="textarea" rows="5" ng-model="oc.formData.notes">
</div>

<div class="row">
	<label>Desired Date Time for Service:</label>
	<!-- <input type="datetime" ng-model="oc.formData.serviceDate"> -->
</div>

<div class="row">
	<label>Promotional Code:</label>
	<input type="text" ng-model="oc.formData.code">
</div>

<button class="btn btn-primary" ng-click="oc.submitData(oc.formData, oc.serviceType)">book!</button>