<div class="row">
	<label>Number of Sqft:</label>
	<input type="number" ng-model="book.formData.sqft">
</div>

<div class="row">
	<label>Does the office have a kitchen?</label>
	<input type="radio" ng-model="book.formData.kitchen" value="true"> Yes
	<input type="radio" ng-model="book.formData.kitchen" value="false"> No
</div>

<div class="row">
	<label>notes:</label>
	<input type="textarea" rows="5" ng-model="book.formData.notes">
</div>

<div class="row">
	<label>Desired Date Time for Service:</label>
	<!-- <input type="datetime" ng-model="book.formData.serviceDate"> -->
</div>

<button class="btn btn-primary" ng-click="book.submitData()">Book!</button>