<div class="row">
	<label>How many gaurds do you need?</label>
	<input type="number" ng-model="security.formData.providers">
</div>
	<button class="btn btn-info" ng-show="security.formData.providers" ng-click="security.addGuards()">Add Guards</button>

<div class="row">
	<div ng-show="security.ifGuards">
		<div class="row" ng-repeat="guard in security.formData.guards">
			<label>Guard Type:</label>
			<input type="radio" ng-model="guard.type" value="0">Askari
			<br>
			<input type="radio" ng-model="guard.type" value="1">Bodyguard

			<label>For how many hours?</label>
			<input type="number" ng-model="guard.hours_required"> 

			<button class="btn btn-danger" ng-click="security.removeGuard($index)">Remove Guard</button>
		</div>
	</div>
</div>

<div class="row">
	<label>notes:</label>
	<input type="textarea" rows="5" ng-model="security.formData.notes">
</div>

<div class="row">
	<label>Desired Date Time for Service:</label>
	<!-- <input type="datetime" ng-model="security.formData.serviceDate"> -->
</div>

<button class="btn btn-primary" ng-click="security.submitData()">Book!</button>