<div class="row">
	<label>How many guards do you need?</label>
	<input type="number" ng-model="sc.formData.providers">
</div>
	<button class="btn btn-info" ng-show="sc.formData.providers" ng-click="sc.addGuards()">Add Guards</button>

<div class="row">
	<div ng-show="sc.ifGuards">
		<div class="row" ng-repeat="guard in sc.formData.guards">
			<label>Guard Type:</label>
			<input type="radio" ng-model="guard.type" value="0">Askari
			<br>
			<input type="radio" ng-model="guard.type" value="1">Bodyguard

			<label>For how many hours?</label>
			<input type="number" ng-model="guard.hours"> 

			<button class="btn btn-danger" ng-click="sc.removeGuard($index)">Remove Guard</button>
		</div>
	</div>
</div>

<div class="row">
	<label>notes:</label>
	<input type="textarea" rows="5" ng-model="sc.formData.notes">
</div>

<div class="row">
	<label>Desired Date Time for Service:</label>
	<div class="dropdown">
	  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
	    <div class="input-group"><input type="text" class="form-control" data-ng-model="sc.formData.serviceDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	    </div>
	  </a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	    <datetimepicker data-ng-model="sc.formData.serviceDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
	  </ul>
	</div>
</div>

<label>choose address:</label>	
<div ng-repeat="address in sc.addresses">
	<input type="radio" ng-model="sc.formData.address_id" ng-value="address.id"> {{address.street}}
	<a href="#" ng-click="sc.destroyAddy(address.id)">delete</a>
</div>

<a href="#" ui-sref="newAppointment.security.newAddress">add new address</a>
<div ui-view="newAddress"></div>
<a href="#" ui-sref="newAppointment.security">close</a>

<div class="row">
	<label>Promotional Code:</label>
	<input type="text" ng-model="sc.formData.code">
</div>

<button class="btn btn-primary" ng-click="sc.submitData(sc.formData, sc.serviceType)">Book!</button>