<section class="row main">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="box">

      <div class="panel-head">
        <h3>Let's Get Started.</h3>
      </div>
      
      <div class="panel-bod">
        <form class="form-group signup">

          <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" placeholder="Okay, what's your email?" ng-model="spAuth.spForm.email">
          </div>

          <div class="input-group">
            <span class="input-group-addon">First Name</span>
            <input type="text" class="form-control" placeholder="How should we call you?" ng-model="spAuth.spForm.first_name">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Last Name</span>
            <input type="text" class="form-control" placeholder="And your last name?" ng-model="spAuth.spForm.last_name">
          </div>

          <div class="input-group selector">
            <span class="input-group-addon" style="border-right: 1px solid #ccc;">Gender</span>
            <button style="margin-left: 4px;" ng-model="spAuth.spForm.gender" ng-click="spAuth.check(0)" ng-class="{'active': spAuth.activeMale}">Male</button>
            <button ng-model="spAuth.spForm.gender" ng-click="spAuth.check(1)" ng-class="{'active': spAuth.activeFemale}">Female</button>
          </div>

          <div class="input-group">
            <span class="input-group-addon">Birthday</span>
            <input type="date" class="form-control" placeholder="Tell us your birthday!" ng-model="spAuth.spForm.birthday">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Phone</span>
            <input type="text" class="form-control" placeholder="We need this to provide better service." ng-model="spAuth.spForm.phone">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Address</span>
            <input type="text" class="form-control" placeholder="Where do you currently live?" ng-model="spAuth.spForm.address">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Service</span>
            <input type="text" class="form-control" placeholder="What is the field of service you are willing to provide?" ng-model="spAuth.spForm.service">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Experience</span>
            <input type="text" class="form-control" placeholder="How many years of experience? Please type a number." ng-model="spAuth.spForm.years_experience">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" placeholder="Pick a tough password!" ng-model="spAuth.spForm.password">
          </div>

          <div class="input-group">
            <input type="checkbox" ng-model="spAuth.spForm.agreement"></span>
            I agree to Homey's <a ui-sref="terms">Privacy Policy and Terms of Use</a>.
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <button ng-click="spAuth.register()" class="alternate">Register</button>
              <button ui-sref="spLogin" class="primary">Go Back</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>