<section class="row main">
  <div class="col-xs-12 col-md-8 col-md-offset-2">

    <div class="box">

      <div class="panel-head">
        <h3>Let's Get Started.</h3>
      </div>
      
      <div class="panel-bod">
        <form class="form-group signup" ng-submit="userAuth.register()">

          <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" placeholder="Okay, what's your email?" ng-model="userAuth.userForm.email">
          </div>

          <div class="input-group">
            <span class="input-group-addon">First Name</span>
            <input type="text" class="form-control" placeholder="How should we call you?" ng-model="userAuth.userForm.firstName">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Last Name</span>
            <input type="text" class="form-control" placeholder="And your last name?" ng-model="userAuth.userForm.lastName">
          </div>

          <div class="input-group gender">
            <span class="input-group-addon" style="border-right: 1px solid #ccc;">Gender</span>
            <button style="margin-left: 4px;" ng-model="userAuth.userForm.gender" ng-click="userAuth.check(0)" ng-class="{'active': userAuth.activeMale}">Male</button>
            <button ng-model="userAuth.userForm.gender" ng-click="userAuth.check(1)" ng-class="{'active': userAuth.activeFemale}">Female</button>
          </div>

          <div class="input-group">
            <span class="input-group-addon">Birthday</span>
            <input type="date" class="form-control" placeholder="Tell us your birthday!" ng-model="userAuth.userForm.birthday">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Phone</span>
            <input type="text" class="form-control" placeholder="We need this to provide better service." ng-model="userAuth.userForm.phone">
          </div>

          <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" placeholder="Pick a tough password!" ng-model="userAuth.userForm.password">
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <button type="submit" class="alternate">Register</button>
              <button ui-sref="login" class="primary">Go Back</button>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>