<div class="row p-lg ta-c">
  <h1>Homey Dashboard</h1>
  <br><br>
  <p>Homey professionals will be able to view information about their past and upcoming assigned appointments as well as information about who booked them.</p>
  <p>This page can be accessible by clicking on the appointments tab on the navbar.</p>
</div>

<!-- 
<h1> {{ sp.info.first_name + ' ' + sp.info.last_name}}'s profile</h1>

<p>{{sp.info.email}}</p>
<p>{{sp.info.service}}</p>
<p>{{sp.info.phone}}</p>
<p>{{sp.info.address}}</p>

<button class="btn btn-info" ng-click="sp.logout()">Logout</button>
<a ui-sref="editServiceProvider">
  <button class="btn btn-warning">Edit</button>
</a>
<button class="btn btn-danger" ng-click="sp.delete()">Delete</button>

<a ui-sref="spDashboard">
  <button class="btn btn-primary">dashboard</button>
</a>

<h1>Appointment Dashboard</h1>

<h2>Upcoming Appointments</h2>
<div ng-repeat="appointment in sp.upcoming" style="border: 1px solid black; margin-top: 3px;">
  <p><strong>appointment id:</strong>id {{appointment.id}}</p>
  <p><strong>made by:</strong> {{appt.user.first_name}}</p>
  <p><strong>scheduled for:</strong> {{appointment.service_date | amCalendar }}</p>
  <p><strong>paid status:</strong> {{appointment.paid}}</p>
  <p><strong>completion status:</strong> {{appointment.completed}}</p>
  <p><strong>canceled status:</strong> {{appointment.canceled}}</p>
</div>

<h1>Past Appointments</h1>
<div ng-repeat="appointment in sp.past" style="border: 1px solid black; margin-top: 3px;">
  <p><strong>appointment id:</strong> {{appointment.id}}</p>
  <p><strong>made by:</strong> {{appt.user.first_name}}</p>
  <p><strong>scheduled for:</strong> {{appointment.service_date | amCalendar }}</p>
  <p><strong>paid status:</strong> {{appointment.paid}}</p>
  <p><strong>completion status:</strong> {{appointment.completed}}</p>
  <p><strong>canceled status:</strong> {{appointment.canceled}}</p>

</div>
 -->