<h1>new discounts bitchessss</h1>

<form ng-submit="dc.submitData()">
	<label>Code:</label>
	<input type="text" ng-model="dc.formData.code">

	<label>Discount Percentage:</label>
	<input type="number" ng-model="dc.formData.percentage">

	<label>How many times can this discount be redeemed?:</label>
	<input type="number" ng-model="dc.formData.limit">

	<label>Can a user reuse this discount?:</label>
	<input type="radio" value="1" ng-model="dc.formData.reusable">Yes
	<br>
	<input type="radio" value="0" ng-model="dc.formData.reusable">No

	<button type="submit" class="btn btn-success">Generate Discount</button>
</form>