<div class="row value">
	<div class="col-xs-4">
		<i class="fa fa-thumbs-up"></i>
		<h1>Trusted Professionals</h1>
		<p>All our services are carried out by experienced and trained Alpha professionals. Backgrounds checked, insured, and supervised.</p>
	</div>
	<div class="col-xs-4">
		<i class="fa fa-clock-o"></i>
		<h1>3 Hour Availability</h1>
		<p>Order now and we will be there as quick as three hours, ready to work.</p>
	</div>
	<div class="col-xs-4">
		<i class="fa fa-magic"></i>
		<h1>100% Money Back Guarantee</h1>
		<p>Tell us if you’re not satisfied. We will refund all your money back, no questions asked.</p>
	</div>
</div>