<div class="col-md-10 col-md-offset-1 col-xs-12 value">
	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
		<i class="fa fa-thumbs-up"></i>
		<h1>Trusted Professionals</h1>
		<p>All our services are carried out by experienced and trained Homey professionals. Backgrounds checked, insured, and supervised.</p>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
		<i class="fa fa-clock-o"></i>
		<h1>Same Day Service Delivery</h1>
		<p>Order now and we will be there as quick as that same day, ready to work.</p>
	</div>
	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
		<i class="fa fa-magic"></i>
		<h1>100% Happiness Guarantee</h1>
		<p>If you are not completely satisfied with your service, we will come back and redo it for free!</p>
	</div>
</div>
