<!-- <h1>Home</h1>

<button class="btn btn-danger" ng-click="home.logout()">logout</button>
<a ui-sref="profile">
	<button class="btn btn-default">profile</button>
</a>

<a ui-sref="newAppointment">
	<button class="btn btn-primary">Book a new appointment</button>
</a>

<a ui-sref="appointments">
	<button class="btn btn-info">View my appointments</button>
</a> -->
<div class="row p-lg ta-c">
	<h1>User Dashboard</h1>
	<br><br>
	<p>This page will be the landing page after a user logs in. It can also be accessible via 'Appointments' link on the navbar.</p>

	<p>Users will be able to see information about their past appointments as well as their upcoming appointments.</p>

	<p>They will also be able to see information about the Homey professionals that completed their appointments as well as who will be in charge of completing their upcoming ones.</p>
</div>