<div class="row navi">
  <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-1">
    <h1 class="nav-hf">Homey</h1>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-5 navi-links">
    <a ui-sref="userLogin">Login</a>
    <a href="">Services</a>
    <a href="">FAQ</a>
    <a href="">Contact</a>
  </div>
</div> <!-- Navigation Bar -->

<div class="row jumbo">
  <div class="col-xs-10 col-xs-offset-1">
    <h1>Make your home smile.</h1>  
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <p>Book trusted and verified home and office cleaners and handymen at your convenience. Whether its cleaning, plumbing, painting or electrical wiring, we have verified professionals who can get the job done!</p>
  </div>
  <div class="col-xs-4 col-xs-offset-4">
    <button class="primary-btn" href="#">Book a Cleaning</button>
  </div>
  <div class="col-xs-4 col-xs-offset-4">
    <button class="default-btn" href="#">See all Services</button>
  </div>
</div>

  <!-- <a ui-sref="userRegister">
		<button type="button" class="btn btn-primary">Register</button>
  </a>

  <button type="button" class="btn btn-info" ng-click="app.fbLogin()">Connect with Facebook</button>

  <a ui-sref="serviceProviderLogin">
    <button type="button" class="btn btn-success">Homey Login</button>
  </a>

  <a ui-sref="serviceProviderRegister">
    <button type="button" class="btn btn-success">Homey Register</button>
  </a>
  <a ui-sref="adminLogin">
    <button type="button" class="btn btn-primary">Admin Login</button>
  </a>

  <a ui-sref="adminRegister">
    <button type="button" class="btn btn-primary">Admin Register</button>
  </a>
 -->
<div id="fb-root"></div>
