<section class="row" ng-include src="'views/jumbotron.html'"></section>

  <!-- <a ui-sref="userRegister">
		<button type="button" class="btn btn-primary">Register</button>
  </a>

  <button type="button" class="btn btn-info" ng-click="app.fbLogin()">Connect with Facebook</button>

  <a ui-sref="serviceProviderLogin">
    <button type="button" class="btn btn-success">Homey Login</button>
  </a>

  <a ui-sref="serviceProviderRegister">
    <button type="button" class="btn btn-success">Homey Register</button>
  </a>
  <a ui-sref="adminLogin">
    <button type="button" class="btn btn-primary">Admin Login</button>
  </a>

  <a ui-sref="adminRegister">
    <button type="button" class="btn btn-primary">Admin Register</button>
  </a>
 -->
<div id="fb-root"></div>
