<nav class="navi">
  <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-1">
    <h1 class="nav-hf">Homey</h1>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-5 navi-links" ng-hide="navbar.loggedIn()">
    <a ui-sref="login" ng-class="{'navi-active': navbar.isActive('/login')}">Login</a>
    <a ui-sref="services" ng-class="{'navi-active': navbar.isActive('/services')}">Services</a>
    <a ui-sref="faq" ng-class="{'navi-active': navbar.isActive('/faq')}">FAQ</a>
    <a ui-sref="contact" ng-class="{'navi-active': navbar.isActive('/contact')}">Contact</a>
  </div>

  <div class="col-xs-12 col-md-4 col-md-offset-5 navi-links" ng-show="navbar.loggedIn()">
    <a><i class="fa fa-plus"></i> Book</a>
    <a>Appointments</a>
    <a>Settings</a>
    <a ui-sref="contact" ng-class="{'navi-active': navbar.isActive('/contact')}">Contact</a>
    <a ng-click="navbar.logout()">Log Out</a>
  </div>
</nav>