<section class="contact row panel-settings">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="box">
			<div class="panel-head">
				<h1>Terms of Use</h1>
			</div>

			<div class="panel-bod">
				<p>
					These terms and conditions (the "Terms") control your continuous ability to either access and/or use the Homey website and all of its other applications ("Site"). By accessing or using the Site, you are automatically agreeing to these Terms and engaging in a legally binding contract with Homey Services.. Do not in any way use or access this website if you are unwilling or legally unable to be bound by the Terms outlined herein.
				</p>
				<p>
					<strong>DEFINITIONS</strong><br>
					<u>Parties</u>
				</p>
				<p>
					"You" and "your" refer to you, as a user of the Site. A "user" is someone who accesses, browses, crawls, scrapes, or in any way uses the Site. "We," "us," and "our"refer to Homey Services.
				</p>
				<p>
					<u>Content</u>
				</p>
				<p>	
					"Content" means text, images and any other form of data or communication. "Your Content" means Content that you submit or transmit to, through, or in connection with the Site, "User Content" means Content that users submit or transmit to, through, or in connection with the Site. “Homey Content" means Content that we create and make available in connection with the Site. "Third Party Content" means Content that originates from parties other than Homey or its users, which is made available in connection with the Site. "Site Content" means all of the Content that is made available in connection with the Site, including Your Content, User Content, Third Party Content, and Homey  Content. ”Partners” means any individual, business or person that Homey voluntarily chooses to do business with, either permanently or temporarily.  
				</p>
				<p>
					<strong>USING THE SITE</strong><br>
					<u>Eligibility</u>
				</p>
				<p>
					To access or use the Site, you must be above the age of 13 and  you must have the requisite power and authority necessary to allow you to enter into these Terms. 
				</p>
				<p>
					<u>Permission to Use the Site</u>
				</p>
				<p>
					Homey will grant you permission to use the Site subject to the restrictions outlined in these Terms. By accessing the Site you are accepting the fact that you have voluntarily accessed the Site and you have understood that you are using it at your own risk, including the risk that you might be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate.
				</p>
				<p>
					<u>User Accounts</u>
				</p>
				<p>
					To use Homey, you must create an account and provide certain required information about yourself in order to access all the features offered through the Site. You are responsible for maintaining the confidentiality of your account password and you are also responsible for all activities that occur in connection with your account.
				</p>
				<p>
					You may not impersonate someone else (e.g., adopt the identity of your friend from class), create or use an account for anyone other than yourself, provide an email address other than your own, or create multiple accounts 
				</p>

				<p>
					<u>Communications from Homey</u>
				</p>
				<p>
					By creating an account and continuing to use Homey you are agreeing to be receiving certain communications in connection with the Site and your activity on the site. In addition, while you will initially receive a monthly newsletter from us, you will have the ability to opt out of this at your own convenience. 
				</p>
				<p>
					<strong>CONTENT</strong><br>
					<u>Responsibility for Your Content</u>
				</p>
				<p>
					You alone are responsible for Your Content and you will expose yourself to liability If Your Content contains material that is intentionally, misleading, untrue or defamatory , and once published, it can only be withdrawn upon request by you or another user and/or if Homey feels that it’s inappropriate and should be taken down. You assume all risks associated with Your Content, including anyone's reliance on its quality, accuracy, or reliability. You represent that you own, or have the necessary permissions to use and authorize the use of Your Content as described herein. You may not imply that Your Content is in any way sponsored or endorsed by Homey.
					You understand that you may expose yourself to liability if Your Content contains material that is intentionally misleading, untrue or violates any third-party right (copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right) and contains material that is unlawful. 
				</p>
				<p>
					If you as a user are affected by another users violation of these terms, we are under no obligation to enforce the Terms on your behalf against another user. We hereby reserve the right to investigate and take appropriate action at our sole discretion.
				</p>
				<p>
					<u>Our Right to Use Your Content</u>
				</p>
				<p>
					We may use Your Content in any way that we deem fit. We may use it in a variety of ways, including publicly displaying it, reformatting it and incorporating it into advertisements and also allowing our partners to do something similar in connection with our Site. You hereby irrevocably grant us international, perpetual, non-exclusive, royalty-free, assignable, sublicensable, transferable rights to use Your Content for any purpose we as a company deem fit. 
				</p>
				<p>
					<u>Advertising</u>
				</p>
				<p>
					Homey and any of its partners may publicly display advertisements and other information adjacent to or included with Your Content. You are in no way entitled to any compensation for such advertisements. 
				</p>
				<p>
					<u>Other</u>
				</p>
				<p>
					Homey reserves the right to screen, edit, remove or reinstate User Content from time to time at our sole discretion for any reason or no reason, and without notice to you. 
				</p>
				<p>
					<strong>GUIDELINES AND POLICIES</strong><br>
					<u>Privacy</u>
				</p>
				<p>
					You represent that you have read and understood our Privacy Policy
				</p>
				<p>
					<strong>Homey ADVERTISING</strong><br>
				</p>
				<p>
					Homey has full discretion to determine who we choose to allow to advertise on the Site. 
				</p>
				<p>
					<strong>THIRD PARTIES</strong><br>
				</p>
				<p>
					The Site may include links to other websites or applications (each, a "Third Party Site"). You agree that we are not responsible for the availability or contents of such Third Party Sites. Your use of Third Party Sites is at your own risk.
				</p>
				<p>
					<strong>INDEMNITY</strong><br>
				</p>
				<p>
					You agree to indemnify, defend, and hold Homey, its parents, subsidiaries, affiliates, any related companies, suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of each of them harmless, including costs, liabilities and legal fees, from any claim or demand made by any third party arising out of or relating to (i) your access to or use of the Site, (ii) your violation of the Terms, (iii) any products or services purchased or obtained by you in connection with the Site, or (iv) the infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. Homey reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims
				</p>
				<p>
					<strong>CHANGES TO THE TERMS OF SERVICE</strong><br>
				</p>
				<p>
					These terms may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy on the Site and informing you via email or text message. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. The Site may also be modified, updated, interrupted, suspended or discontinued at any time without notice or liability
				</p>
				<p>
					<strong>TERMINATION</strong><br>
				</p>
				<p>
					You may terminate the Terms at your own will and at any time by closing your account and completely stopping to use the Site.
				</p>
				<p>
					Homey may at any point close your account and/or ban you completely from the Site for any or no reason, and without notice or liability whatsoever.
				</p>
				</p>
			</div>
		</div>

		<div class="box">
			<div class="box">
				<div class="panel-head">
					<h1>Privacy Policy</h1>
				</div>

				<div class="panel-bod">
					<p>
						This privacy policy governs your use of the website Homey (“Site”) for computers and mobile devices.
					</p>
					<p>
						The Site is a platform that connects casual laborers with people who are looking to use their services. Homey serves as an agent to all casual laborers in our database.
					</p>
					<p>
						<strong>User Provided Information</strong>
					</p>
					<p>
						The Site obtains the information you provide when you sign up on our website and connect your various social media accounts. Registration with us is mandatory in order to use our service. When you register with us and use the Site, you generally provide your name, email address, age, user name, password and other registration information listed on your social media account that you used as a log in.
					</p>
					<p>
						Information you provide us when you contact us for help, information you enter into our system when using the Site, such as contact information and	project management information. We may also use the information you provided us to personalize your experience, display relevant advertising, contact your from time to time to provide	you with important information, required notices and marketing promotions. We may store the information you submit to the Site. 
					</p>
					<p>
						Public Content: The only aspect of your details provided that will be made public is if you decide to write reviews and/or like/comment on Homey blog post (including your gender, first name and last initial, but excluding your other account registration information). We may display this content on the Site, and further distribute it to a wider audience through third party sites and services
					</p>
					<p>
						<strong>Automatically Collected Information</strong>
					</p>
					<p>
						In addition, the Site may collect certain information automatically, including, but not limited to, the mobile device you use, your mobile devices unique device ID, the IP address of your mobile device and computer, your mobile operating system, the type of Internet browsers you use, and information about the way you use the Site.
					</p>
					<p>
						<strong>Third Party Information</strong>
					</p>
					<p>
						We will share your information with third parties only in the ways that are described in this privacy
						statement.
					</p>
					<p>
						We may disclose User Provided and Automatically Collected Information as required by law, such as to comply with a subpoena, or similar legal process; when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request; with our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them,and have agreed to adhere to the rules set forth in this privacy statement. If Homey is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.
					</p>
					<p>
						We may share user information in the aggregate with third parties, such as advertisers and content distributors. For example, we may disclose the number of users that have been exposed to, or clicked on advertisements. Upon filling in all our required login fields, you may log in through Facebook and we may receive information from Facebook to make it easier for you to regularly access the Site and show you relevant content from your Facebook friends. This information personalizes your Homey experience.
					</p> 
					<p>
						<strong>Opt-out rights</strong>
					</p>
					<p>
						You can stop all collection of information by deactivating your account on the website. However, even if you terminate your account we may continue to show some of your content in an anonymous form. 
					</p>
					<p>
						<strong>Data Retention Policy, Managing Your Information</strong>
					</p>
					<p>
						We will retain User Provided data for as long as you use the Site and for a reasonable time	thereafter. We will retain Automatically Collected information for up to 24 months and thereafter	may store it in aggregate. If you’d like us to delete User Provided Data that you have provided via	the Site, please contact us expressing your intent to do so and we will respond in areasonable time. We may use cookies, web beacons, local shared objects (sometimes called "flash cookies"), and similar technology in connection with your use of the Site ("Cookies"). Cookies are small data files that may have unique identifiers, and reside, among other places, on your computer or mobile device, in emails we send to you, and on our web pages. Cookies may transmit information about you and your use of the Site, such as your browser type, search preferences, data relating to advertisements that have been displayed to you or that you have clicked on, and the date and time of your use. 
					</p>
					<p>
						<strong>Security</strong>
					</p>
					<p>
						We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Site. Please be aware that, although we endeavor to provide reasonable security for information we process and maintain, no security system that can prevent all potential security breaches.
					</p>
					<p>
						<strong>Changes</strong>
					</p>
					<p>
						This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and informing you via	email or text message. You are advised to consult this Privacy Policy regularly for any changes, as	continued use is deemed approval of all changes.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>